* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.cal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
