@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.8s ease;
    font-family: 'Unbounded', cursive;
}
body{
    min-height: 100vh;
    /* min-width: 500px; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.794);
}
.dark {
    background-color: rgba(0,0,0,0.8);
}
.container{
    /* border: 1px solid black; */
    width: 460px;
    /* height: 500px; */
    /* background-color: rgb(253, 253, 253); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* margin-top: 100px; */
    padding: 15px 0;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
}
.dark .container{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 15px 15px 20px rgba(0,0,0,0.7), -15px -15px 30px rgba(160, 160, 160, 0.7);
}
.header{
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
#close-btn {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.6s ease;
}
.dark #close-btn{
    color: #fffb;
}
.switch-mode{
    appearance: none;
    position: relative;
    border: 2px solid gray;
    border-radius: 12.5px;
    width: 32.5px;
    height: 18.5px;
}
.switch-mode::before{
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 300ms linear;
}
/* 라이트모드 */
.switch-mode:checked::before{
    background-color: white;
    left: 1em;
}
/* 다크모드 */
.switch-mode:checked{
    background-color: gray;
    border-color: gray;
}
.output{
    width: 400px;
    height: 100px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    /* 내부에 그림자-x축 y축 블러 그림자확장 */
    box-shadow: inset 0px 0px 10px 3px rgb(171, 170, 170); 
    text-align: end;
    font-size: 50px;
    padding: 30px 15px 0px 0px;
    margin-top: 10px;
}
.dark .output{
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: #fffb;
    box-shadow: inset 0px 0px 10px 3px rgb(0,0,0,1);
}
.cal-btns{
    width: 400px;
    height: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 10px 10px;
}
.btn:last-child{
    grid-column: span 2;
}
.btn{
    border-radius: 12px;
    border: none;
    font-size: 26px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3), -3px -3px 7px #fffb;
    cursor: pointer;
}
.dark .btn{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fffb;
    /* 다크모드는 버튼이 들어가있는 느낌쓰 */
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.7);
}
.btn:active{
    background-color: rgba(0,0,0,0.3);
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px #fffb;
    transition: all 0.1s ease;
    color: #fffb;
}
.dark .btn:active{
    background-color: rgba(247, 247, 247, 0.794);
    color: rgb(56, 56, 56);
    /* 다크모드 box-shadow 너무 어렵... */
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset -5px -5px 10px #fffb;
}
#start-cal{
    font-size: 50px;
    cursor: pointer;
}
.hide{
    display: none;
}

