* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.5s ease; */
}
body{
    min-height: 100vh;
    /* min-width: 500px; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.794);
}
.container{
    /* border: 1px solid black; */
    width: 460px;
    /* height: 500px; */
    /* background-color: rgb(253, 253, 253); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* margin-top: 100px; */
    padding: 15px 0;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
}
.header{
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
/* .btn-close{
    border: .5px solid rgb(61, 60, 60);
    border-radius: 25px;
    width: 20px;
    font-size: 18px;
    text-align: center;
} */
.header>i {
    font-size: 20px;
    color: rgb(146, 146, 146);
}
.output{
    width: 400px;
    height: 100px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    /* 내부에 그림자-x축 y축 블러 그림자확장 */
    box-shadow: inset 0px 0px 10px 3px rgb(171, 170, 170); 
    text-align: end;
    font-size: 50px;
    padding-top: 40px;
    padding-right: 10px;
    margin-top: 10px;
}
.cal-btns{
    width: 400px;
    height: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 10px 10px;
}
.btn:last-child{
    grid-column: span 2;
}
.btn{
    border-radius: 12px;
    border: none;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3), -3px -3px 7px #fffb;
    cursor: pointer;
}
.hide{
    display: none;
}
